<div class="survey-container">
  <div *ngIf="!submitted; else thankYou">
    <h2>Customer Satisfaction Survey</h2>
    <form (ngSubmit)="submit()">
      <div class="customer-id" *ngIf="customerId">
        <strong>Customer ID:</strong> {{ customerId }}
      </div>
      <div *ngFor="let question of questions; let i = index" class="question-block">
        <label>{{ i+1 }}. {{ question }}</label>
        <div class="smiley-row">
          <button
            class="smiley-btn"
            *ngFor="let smiley of smileys"
            [ngClass]="{'selected': answers[i] === smiley.value}"
            type="button"
            (click)="selectAnswer(i, smiley.value)"
            [title]="smiley.icon"
          >
            <span class="smiley-emoji">{{ smiley.icon }}</span>
          </button>
        </div>
      </div>
      <button mat-raised-button color="primary" [disabled]="!canSubmit()" type="submit">
        Submit Survey
      </button>
    </form>
  </div>
  <ng-template #thankYou>
    <h3>Thank you for your feedback!</h3>
    <div *ngIf="customerId">
      <strong>Your Customer ID:</strong> {{ customerId }}
    </div>
  </ng-template>
</div>